tr:first-child {
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size  : 24.5px;
  line-height: 30px;
  margin     : 0px;
}
.footer {
  padding-right: 10px;
  height       : 60px;
  text-align   : right;
}

.center {
  text-align: center;
}

.true {
  background: none repeat scroll 0 0 rgba(31, 191, 55, 0.9) !important;
}

.false {
  background: none repeat scroll 0 0 rgba(247, 47, 55, 0.8)   !important;
  color     :                        rgba(255, 255, 255, 0.8) !important;
}

.navbar-search {
  max-width: 250px;
}