tr:first-child {
  font-weight: bold;
}

.modal-dialog {
  width: 50%;
  height: 50%;
}

.footer {
  height: 60px;
  text-align: right;
  padding-right: 10px;
}

.center {
  text-align: center;
}

.true {
  background: none repeat scroll 0 0 rgba(31, 191, 55, 0.9) !important;
}

.false {
  background: none repeat scroll 0 0 rgba(247, 47, 55, 0.8)   !important;
  color     :                        rgba(255, 255, 255, 0.8) !important;
}