.container {
  width:80%;
}

.table thead > tr > th {
  border-bottom: none;
}

#mescalina {
  table-layout: fixed;
  word-wrap   : break-word;
}

#mescalina > thead > tr > th:nth-of-type(2) {
  width: 5%;
}

h3 {
  font-weight: bold;
  font-size  : 24.5px;
  line-height: 30px;
  margin     : 0px;
}

.center {
  text-align: center;
}

.navbar-search {
  max-width: 250px;
}

.footer {
  padding-right: 10px;
  height       : 60px;
  text-align   : right;
}

td.nope {
  background-color: rgb(255,  87,  87);
}

td.done {
  background-color: rgb( 89, 192, 109);
}

td.ongoing {
  background-color: rgb(152, 203, 251);
}

td.nope    a, td.nope    a:hover, td.nope    a:visited,
td.done    a, td.done    a:hover, td.done    a:visited,
td.ongoing a, td.ongoing a:hover, td.ongoing a:visited
{
  color: black;
}

.table-hover tbody tr:hover td.nope {
  background-color: rgb(255,  87,  87);
  opacity: 0.7;
}

.table-hover tbody tr:hover td.done {
  background-color: rgb( 89, 192, 109);
  opacity: 0.7;
}

.table-hover tbody tr:hover td.ongoing {
  background-color: rgb(152, 203, 251);
  opacity: 0.7;
}

.table-hover tbody tr:hover td {
  box-shadow: 0 0 0 1px white;
}
