!!!
%html(lang="it")
  %head
    %meta(charset="utf-8")
    %title Nonchosbatta
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %link(rel="stylesheet" href="css/bootstrap.css")
    %link(rel="stylesheet" href="css/bootstrap-modal-bs3patch.css")
    %link(rel="stylesheet" href="css/bootstrap-modal.css")
    %link(rel="stylesheet" href="css/style.css")
    = javascript_include_tag "application"

  %body

    %div.navbar.navbar-default.navbar-static-top{role: 'navigation'}
      %div.container
        %div.navbar-header
          %a.navbar-brand{href: '/#/'} Nonchosbatta
        %div.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle{href: '#', :'data-toggle' => :dropdown}
                Filtri
                %b.caret
              %ul.dropdown-menu
                %li.ongoing
                  %a#ongoing  In corso
                %li.finished
                  %a#finished Concluse
                %li.dropped
                  %a#dropped  Abbandonate
                %li.planned
                  %a#planned  Future
            %li
              %a{href: '/#/stats'}
                Statistiche
          %ul.nav.navbar-nav.navbar-right
            %li
              %form.navbar-form.navbar-search{role: 'cerca'}
                %div.input-group
                  %input.form-control{type: 'text', id: 'keyword', placeholder: 'cerca'}
                  %div.input-group-btn
                    %button.btn.btn-default#search
                      %span.glyphicon.glyphicon-search

    %div.container
      %table#mescalina-airing.mescalina.table.table-bordered.table-hover
        %thead
          %tr
            %th Serie
            %th Episodi
            %th Fansub
            %th Traduttore
            %th Adattatore
            %th Checker
            %th Timer
            %th Typesetter
            %th Encoder
            %th QChecker

      %table#mescalina-finished.mescalina.table.table-bordered.table-hover
        %thead
          %tr
            %th Serie
            %th Episodi
            %th Fansub
            %th Traduttore
            %th Adattatore
            %th Checker
            %th Timer
            %th Typesetter
            %th Encoder
            %th QChecker

      %div#episode.modal.fade{tabindex: '-1', role: 'dialog', :'aria-hidden' => true, :'data-width' => '920'}
        %div.modal-header
          %button.close{type: 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'}×
          %h3#episode-title
        %div.modal-body
          %table#episode-info.table.table-bordered.table-hover
            %thead
              %tr
                %th Episodio
                %th Traduzione
                %th Adattamento
                %th Check
                %th Timing
                %th Typeset
                %th Encode
                %th QCheck

      %div#episode-error.modal.fade{tabindex: '-1', role: 'dialog', :'aria-hidden' => true}
        %div.modal-header
          %button.close{type: 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'}×
          %h3 Nessun episodio trovato.
        %div.modal-body
          %p Non sono stati trovati episodi appartenenti a questa serie.

      %div#stats.modal.fade{tabindex: '-1', role: 'dialog', :'aria-hidden' => true, :'data-width' => '920'}
        %div.modal-header
          %button.close{type: 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'}×
          %h3
            Statistiche
        %div.modal-body
          %table#stat.table.table-bordered.table-hover
            %thead
              %tr
                %th Fansub
                %th Serie completate
                %th Episodi completati

    %div.footer
      %p
        &copy; 2014
        %a{href: 'https://github.com/nonchosbatta', target: '_blank'}
          Nonchosbatta

    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47471705-1', 'omnivium.it');
      ga('send', 'pageview');
      