!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %link(rel="stylesheet" href="/css/bootstrap.css")
    %link(rel="stylesheet" href="/css/style.css")
    = javascript_include_tag 'application'

  %body
    %div.container
      %table#mescalina.table.table-bordered.table-hover
        %tr
          %td Name
          %td Episodes
          %td Fansub
          %td Translator
          %td Editor
          %td Checker
          %td Timer
          %td Typesetter
          %td Encoder
          %td QChecker

      %div#episode.popup
        %span.button.b-close
          %span X
        %table#episode-info.table.table-bordered.table-hover
          %tr
            %td Episode
            %td Translation
            %td Editing
            %td Checking
            %td Timing
            %td Typesetting
            %td Encoding
            %td QChecking

      %div#episode-error.popup
        %span.button.b-close
          %span X
        %p.center
          No episodes found.


    %div.footer
      %p
        &copy; 2014
        %a{ href: 'https://github.com/nonchosbatta', target: '_blank'}
          Nonchosbatta