!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %link(rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css")
    %link(rel="stylesheet" href="/vendor/style.css")
    = javascript_include_tag 'application'

  %body
    %div.container
      %table#mescalina.table.table-bordered.table-hover
        %tr
          %td Name
          %td Episodes
          %td Status
          %td Airing
          %td Translator
          %td Editor
          %td Checker
          %td Timer
          %td Typesetter
          %td Encoder
          %td QChecker