!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Nonchosbatta
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %link(rel="stylesheet" href="css/bootstrap.css")
    %link(rel="stylesheet" href="css/bootstrap-modal-bs3patch.css")
    %link(rel="stylesheet" href="css/bootstrap-modal.css")
    %link(rel="stylesheet" href="css/style.css")
    = javascript_include_tag "application"

  %body

    %div.navbar.navbar-default.navbar-static-top{role: 'navigation'}
      %div.container
        %div.navbar-header
          %a.navbar-brand{href: '/#/'} Nonchosbatta
        %div.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle{href: '#', :'data-toggle' => :dropdown}
                Filters
                %b.caret
              %ul.dropdown-menu
                %li.ongoing
                  %a#ongoing  On going
                %li.finished
                  %a#finished Finished
                %li.dropped
                  %a#dropped  Dropped
                %li.planned
                  %a#planned  Planned
          %ul.nav.navbar-nav.navbar-right
            %li
              %form.navbar-form.navbar-search{role: 'search'}
                %div.input-group
                  %input.form-control{type: 'text', id: 'keyword', placeholder: 'search'}
                  %div.input-group-btn
                    %button.btn.btn-default#search
                      %span.glyphicon.glyphicon-search

    %div.container
      %h2.airing-status Airing
      %table#mescalina-airing.mescalina.table.table-bordered.table-hover
        %thead
          %tr
            %th Series
            %th Episodes
            %th Fansub
            %th Translator
            %th Editor
            %th Checker
            %th Timer
            %th Typesetter
            %th Encoder
            %th QChecker

      %h2.airing-status Finished
      %table#mescalina-finished.mescalina.table.table-bordered.table-hover
        %thead
          %tr
            %th Series
            %th Episodes
            %th Fansub
            %th Translator
            %th Editor
            %th Checker
            %th Timer
            %th Typesetter
            %th Encoder
            %th QChecker

      %div#episode.modal.fade{tabindex: '-1', role: 'dialog', :'aria-hidden' => true, :'data-width' => '820'}
        %div.modal-header
          %button.close{type: 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'}×
          %h3#episode-title
        %div.modal-body
          %table#episode-info.table.table-bordered.table-hover
            %thead
              %tr
                %th Episode
                %th Translation
                %th Editing
                %th Checking
                %th Timing
                %th Typesetting
                %th Encoding
                %th QChecking

      %div#episode-error.modal.fade{tabindex: '-1', role: 'dialog', :'aria-hidden' => true}
        %div.modal-header
          %button.close{type: 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'}×
          %h3 No episodes found.
        %div.modal-body
          %p No episodes found.

    %div.footer
      %p
        &copy; 2014
        %a{ href: 'https://github.com/nonchosbatta', target: '_blank'}
          Nonchosbatta
